.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(211, 211, 211, 0.95);
  width: 100vw;
  height: 100vh;
  animation: fade-in 3s linear;
}

@keyframes from-top {
  from {
    transform: translateY(calc(-50vh - 50%));
  }
  to {
    transform: translate(0)
  }
}

.modal {
  pointer-events: auto;
  width: 300px;
  background: #FFF;
  border: 2px solid #000;
  padding: 35px 50px;
  border-radius: 25px;
  z-index: 1;
  animation: from-top 3s linear;
}
