{{page-title "EmberEurope"}}

<div>
  <LinkTo @route="css">CSS Button</LinkTo>
  <LinkTo @route="modal-css">CSS Modal</LinkTo>
  <LinkTo @route="modal-css-modifier">CSS Modal - ember-css-transitions</LinkTo>
  <LinkTo @route="modal">ember-animated</LinkTo>
</div>

{{outlet}}